<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <form action="register-create-password" autocomplete="on">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-heading-l">
              Contact details
            </h1>
            <div class="nhsuk-hint"><p>These are the details your GP and other NHS services use to contact you.</p>
            </div>
          </legend>

          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Email address
              </dt>
              <dd class="nhsuk-summary-list__value">
                ********lor@****l.com
              </dd>

              <dd class="nhsuk-summary-list__actions">

                <a href="#">
                  <!--Change<span class="nhsuk-u-visually-hidden"> email address</span>-->
                </a>

              </dd>

            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Mobile phone number
              </dt>
              <dd class="nhsuk-summary-list__value">

                <div class="nhsuk-warning-text nhsuk-u-margin-bottom-3">
                <span class="nhsuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="nhsuk-warning-text__text">
                  <span class="nhsuk-warning-text__assistive"></span>
                  You do not have a mobile phone number in your contact details
                </strong>
              </div>
              </dd>

              <dd class="nhsuk-summary-list__actions">

                <a href="enter-your-new-phone">
                  Add a mobile phone number<span class="nhsuk-u-visually-hidden"> mobile number</span>
                </a>

              </dd>

            </div>


          </dl>

        </fieldset>

      </form>


    </div>

  </div>

<style>
  @media (min-width: 768px) {
  .nhsuk-warning-text__icon {
      margin-top: -5px;
  }
}
  .nhsuk-warning-text__icon {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      background: #0b0c0c;
      border-radius: 50%;
      border: 3px solid #0b0c0c;
      color: #fff;
      display: inline-block;
      font-size: 30px;
      font-weight: 700;
      left: 0;
      line-height: 29px;
      margin-top: -7px;
      min-height: 29px;
      position: absolute;
      text-align: center;
      user-select: none;
      width: 35px;
  }

  .nhsuk-warning-text {
    position: relative;
    padding: 10px 0;
}
@media (min-width: 40.0625em) {
.nhsuk-u-margin-bottom-3 {
    margin-bottom: 16px !important;
}
}

@media (min-width: 768px) {
.nhsuk-warning-text__text {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3;
}
}
.nhsuk-warning-text__text {
    color: #0b0c0c;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    padding-left: 45px;
    text-align: left;
}
</style>

{% endblock %}
