<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

<form action="/v2/one-off/data-not-found/data-not-found-route" method="post" class="form">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        We cannot find your details
      </h1>
    </legend>

    <p class="nhsuk-body">
      We were unable to find an NHS record with the details you have provided. To find your NHS record, you must enter the contact information your GP has for you.
    </p>


    <div class="nhsuk-form-group">

      <div class="nhsuk-radios">

        <div class="nhsuk-radios__item">
          
          <input class="nhsuk-radios__input" id="example-hints-1" name="knowNHSNumber" type="radio" value="differentnhs">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
            Try with a different NHS number
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-2" name="knowNHSNumber" type="radio" value="searchname">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
            Search using full name
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="example-hints-3"  name="knowNHSNumber" type="radio" value="detailscorrect">
          <label class="nhsuk-label nhsuk-radios__label" for="example-hints-3">
            My details are correct
          </label>
        </div>

      </div>
    </div>

  </fieldset>

        <button class="nhsuk-button full-width" type="submit" id="button--save">
          Continue
        </button>
      </div>
</form>


    <script>
      function forgottenPasswordClickHandler(e) {
        e.preventDefault();
        var x = document.getElementById("loading");
        if (x.style.display === "none") {
          x.style.display = "inline-block";
        } else {
          x.style.display = "none";
        }
        setTimeout(() => window.location.href = e.target.href, 2000)
      }
    </script>

  </div>
</div>



  <style>
    .panel-link__link {
        background-color: #ffffff;
        background-image: url(https://nhsuk-transactions-prototype.azurewebsites.net/images/icon_arrow_left.svg);
        background-position: right 1em center;
        background-repeat: no-repeat;
        color: #005eb8;
        display: block;
        padding: 10px 2em 10px 1em;
        text-decoration: none;
    }

    @media (max-width: 48.0525em) {
    .panel-link {
        margin: 0 -1em 1em;
    }
    }
    .panel-link {
        border-top: 1px #d8dde0 solid;
        font-size: 1em;
        list-style: none;
        margin-bottom: 1em;
        padding-left: 0;
    }
    @media (max-width: 48.0525em) {
    .panel-link {
        margin: 0 -1em 1em;
    }
    }
    .panel-link {
        font-size: 1em;
        list-style: none;
        margin-bottom: 1em;
        padding-left: 0;
    }

</style>
{% endblock %}
