<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

<form action="contact-details" method="post" class="form">
    <h1 class="nhsuk-heading-l">
      Check your email
    </h1>

    <p>Enter the 6 digit security code we have sent to <strong>********lor@****l.com</strong> to confirm this is your email address.</p>
    <p>You need to use this code within <strong>1 hour</strong> or it will expire.</p>

    <details nhsuk-polyfilled="true" id="nhsuk-details0" class="nhsuk-details"><summary role="button" aria-controls="nhsuk-details__text0" tabindex="0" class="nhsuk-details__summary" aria-expanded="false"><span class="nhsuk-details__summary-text"> Not received your security code?</span></summary><div id="nhsuk-details__text0" class="nhsuk-details__text" aria-hidden="true"><p> When we are really busy, it may take a bit longer for your code to arrive. <br><br><a href="">Send the security code again</a></p></div></details>

    <div class="nhsuk-form-group">

      <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
        <label class="nhsuk-label" for="example">
          Security code
        </label>

        <div class="nhsuk-hint" id="contact-hint">
          The code is 6 digits
        </div>

        <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm="" id="revealPassword" name="revealPassword" type="password" aria-describedby="password reveal">

      </fieldset>

    </div>


            <details nhsuk-polyfilled="true" id="nhsuk-details0" class="nhsuk-details"><summary role="button" aria-controls="nhsuk-details__text0" tabindex="0" class="nhsuk-details__summary" aria-expanded="false"><span class="nhsuk-details__summary-text"> I do not have access to email</span></summary><div id="nhsuk-details__text0" class="nhsuk-details__text" aria-hidden="true"><p> If you do not have access to this email address, you will not be able to complete this change online. To update your details, please visit your GP.<br><br><a href="https://www.nhs.uk/service-search/find-a-gp">Find a GP</a></p></div></details>

      <div>

        <button class="nhsuk-button full-width" type="submit" id="button--save">
          Continue
        </button>
      </div>
</form>


    <script>
      function forgottenPasswordClickHandler(e) {
        e.preventDefault();
        var x = document.getElementById("loading");
        if (x.style.display === "none") {
          x.style.display = "inline-block";
        } else {
          x.style.display = "none";
        }
        setTimeout(() => window.location.href = e.target.href, 2000)
      }
    </script>

  </div>
</div>



  <style>
    .panel-link__link {
        background-color: #ffffff;
        background-image: url(https://nhsuk-transactions-prototype.azurewebsites.net/images/icon_arrow_left.svg);
        background-position: right 1em center;
        background-repeat: no-repeat;
        color: #005eb8;
        display: block;
        padding: 10px 2em 10px 1em;
        text-decoration: none;
    }

    @media (max-width: 48.0525em) {
    .panel-link {
        margin: 0 -1em 1em;
    }
    }
    .panel-link {
        border-top: 1px #d8dde0 solid;
        font-size: 1em;
        list-style: none;
        margin-bottom: 1em;
        padding-left: 0;
    }
    @media (max-width: 48.0525em) {
    .panel-link {
        margin: 0 -1em 1em;
    }
    }
    .panel-link {
        font-size: 1em;
        list-style: none;
        margin-bottom: 1em;
        padding-left: 0;
    }

</style>
{% endblock %}
