<h3 class="nhsuk-heading-m">Links</h3>

<ul>
  <li><a href="https://github.com/NHSDigital/prototype-nhs-reverification" target="_blank">Go to the Github repository</a></li>
  <li><a href="https://app.mural.co/t/nhsdigital8118/r/1683044184476" target="_blank">Reverification Mural Room</a></li>
  <li><a href="https://nhsd-confluence.digital.nhs.uk/display/DEMGRPH/Research+and+Design" target="_blank">Design Confluence</a></li>
  {% if data['local'] === "true" %}
  <li><a href="https://prototype-nhs-reverification.herokuapp.com/" target="_blank">Reverification Heroku prototype</a></li>
  {% endif %}
</ul>