<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <h1 class="nhsuk-heading-l">Check your answers</h1>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row" id="Name">
                <dt class="nhsuk-summary-list__key">
                    Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                      {{ data['first-name'] }} {{ data['last-name'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/find-nhs-number/what-is-your-name">
                        Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row" id="DateOfBirth">
                <dt class="nhsuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['date-of-birth-day'] }} {{ data['date-of-birth-month'] }} {{ data['date-of-birth-year'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/find-nhs-number/what-is-your-date-of-birth">
                        Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row" id="Postcode">
                <dt class="nhsuk-summary-list__key">
                    Your NHS number
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['nhs-number'] }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="/find-nhs-number/what-is-your-home-postcode">
                        Change<span class="nhsuk-u-visually-hidden"> postcode</span>
                    </a>
                </dd>
            </div>
        </dl>

        <form method="post" action="/find-nhs-number/check-your-answers">
            <a href="check-your-email" class="nhsuk-button" type="submit">Continue</a>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8OjDvKS9v_tDs58FBKan6qevlFq7cpDp92OXVwFh4OOjPVUVS78tRnPqN94j7Xag0fLHzyoJYqlwI6g-QEE_6JUIosaSQj97FOi3Lzo3-1lolgAuDdvDkPh-nCHOprNq5FD5VL2Z7CXMfT8cIzBjZFI"></form>
    </div>
</div>

{% endblock %}
