<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">


    <h1 class="nhsuk-heading-l">
      Enter your new mobile number
    </h1>
<form action="/v1/one-off/check-your-mobile-2"  method="POST">
      <label class="nhsuk-label" for="input-with-hint-text">
        We will send a 6 digit security code.
      </label>

      <label _ngcontent-ekt-c45="" for="password-input" class="nhsuk-label nhsuk-u-margin-top-3">UK mobile number </label>
      <input class="nhsuk-input nhsuk-input--width-20" name="newphone">
<br><br>
<button class="nhsuk-button full-width">Continue</button>

</form>

  </div>
</div>



  <style>
    .Login_continueWithNhsLogin_-t-uU[data-v-e274948a] {
    height: 60px;
    width: 345px;
    background-image: url(https://www.nhsapp.service.nhs.uk/v2-11-9/img/icon-continue-with-nhs-login-normal.5e4ceecb.svg);
    background-repeat: no-repeat;
    background-size: 345px 60px;
    display: block;
    font-size: 0;
    background-color: unset!important;
    border: unset!important;
    box-shadow: unset!important;
}
</style>
{% endblock %}
