<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-dob-no",
    "text": "Back to: What is your date of birth?",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <form action="check-your-answers"  method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-heading-l">
              What is your postcode?
            </h1>
            <div class="nhsuk-hint"><p>Enter the postcode your GP has on record for you. For example EN1 1BE.</p>
            </div>
          </legend>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="userEmail">
              Postcode
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="whatspostcode" name="whatspostcode" value="" type="">
          </div>

            <button class="nhsuk-button">Continue</button>

        </fieldset>

      </form>


    </div>

  </div>

{% endblock %}
