{% set serviceHome = '/v6/start' %}
{% set serviceFooter = 'v6/includes/footer' %}
{% extends 'layout.html' %}

{% set contactmethod = "sms" %}

{% block pageTitle %}
  Text message
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/notify-text.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">Text message</h1>

    <div class="app-text-message">
      <h2 class="nhsuk-heading-s">NHS</h2>
      <p class="app-text-message__text">

        {{ data['first-name'] or 'Sarah' }},<br><br>

        The mobile phone number we have for you has been changed. This message is sent to the old number for security reasons. If you did not make this change you should call us on 01234 567890.<br><br>

        NHS England

      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
