{% set serviceHome = '/v3/start' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Choose your method
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="triage-1" method="post">

      {{ radios({
      "idPrefix": "appuser",
      "name": "appuser",
      "fieldset": {
        "legend": {
          "text": "Do you use the NHS App?",
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": "true"
        }
      },
      "items": [
        {
          "value": "yes",
          "text": "Yes"
        },
        {
          "value": "no",
          "text": "No"
        },
        {
          "value": "notsure",
          "text": "I don't know"
        }
      ]
    }) }}

      {{ button({
      "text": "Continue"
    }) }}


    </form>

  </div>

</div>
{% endblock %}

{% block footer %}
{% set feedbackType = 'final' %}
{% include 'v3/includes/footer.html' %}
{% endblock %}