{% set serviceHome = '/v3/start' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Which contact details are you wanting to change?
{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "name": "Update your contact details",
      "href": "/"
    },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-app",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="triage-which-details-post" method="post">

        {{ checkboxes({
        "idPrefix": "which-details",
        "name": "which-details",
        "fieldset": {
          "legend": {
            "text": "Which contact details are you wanting to change?",
            "classes": "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        "hint": {
          "text": "Select all options that are relevant to you."
        },
        "items": [
          {
            "value": "email",
            "text": "Email"
          },
          {
            "value": "phone",
            "text": "Mobile phone"
          },
          {
            "value": "address",
            "text": "Home address"
          }
        ]
      }) }}


      {{ button({
      "text": "Continue"
    }) }}


    </form>

  </div>

</div>
{% endblock %}

{% block footer %}
{% set feedbackType = 'final' %}
{% include 'v3/includes/footer.html' %}
{% endblock %}