{% set serviceHome = '/v6/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  There are no contact details on your NHS record
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">There are no contact details on your NHS record</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <p>We cannot find a mobile phone number or email address linked to your NHS record. </p>

        {% include "../includes/other-channels.html" %}

      </div>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v6/includes/footer.html' %}
{% endblock %}