{% set serviceHome = '/v6/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  There are no contact details on your NHS record
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">There are no contact details on your NHS record</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <p>We cannot find a mobile phone number or email address linked to your NHS record. </p>

        <h2 class="nhsuk-heading-m">Other ways to update your details</h2>

        <p>You can add your contact details online through:</p>

        <ul>
          <li><a href="#" onclick="return false;">your NHS account</a></li>
          <li><a href="#" onclick="return false;">the NHS App</a></li>
        </ul>

        <p>You can also update your contact details through your GP surgery.</p>

        <p>If you are not registered with a GP you can find one using our Find a GP service.</p>

      </div>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v6/includes/footer.html' %}
{% endblock %}