{% set serviceHome = '/v6/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  We will send you a security code
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "contact-details",
"text": "Go back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="get-verification-otp" method="post" class="form">
      <h1 class="nhsuk-heading-l">
        We will send a security code to your{% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %} email{% else %} mobile{% endif %}
      </h1>

      <div class="nhsuk-hint">
        <p>To protect your details we need to know it's you.</p>

        <p>To do this we will send a you a 6 digit code.</p>

        <p>You must use this code within 1 hour of getting it.</p>

      </div>

      <p>When you select Continue we will send the code to {% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %} {{ data['emailAddressObf'] or '********lor@****l.com' }}{% else %} {{ data['mobileNumObf'] or '********681' }}{% endif %}</p>

      <details nhsuk-polyfilled="true" id="nhsuk-details0" class="nhsuk-details">
        <summary role="button" aria-controls="nhsuk-details__text0" tabindex="0" class="nhsuk-details__summary" aria-expanded="false">
          <span class="nhsuk-details__summary-text">
            {% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}
              I do not have access to this email
            {% else %}
              I do not have access to this phone
            {% endif %}
          </span>
        </summary>
        <div id="nhsuk-details__text0" class="nhsuk-details__text" aria-hidden="true">
          <p>If you do not have access to this mobile phone, you will not be able to change your contact details using this service.</p>
          {% include "../includes/other-channels.html" %}
        </div>
      </details>

      <div>
        <button class="nhsuk-button full-width" type="submit" id="button--save">
          Continue
        </button>
        <button id="button2" class="nhsuk-u-visually-hidden">Submit</button>
      </div>
    </form>

    {% if data['devMode'] === 'true' %}
    {# DEVMODE SCENARIOS #}

    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h4>Happy path</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="#" onclick="submitSpinner2()">Code sent</a>
          </li>
        </ul>
        <h4>Business rule Errors</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="error-otplimit?referer={% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}email{% else %}mobile{% endif %}">User has requested the OTP too many times</a>
          </li>
        </ul>
        <h4>Notify Errors</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="error-notifyfail?referer={% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}email{% else %}mobile{% endif %}">Notify fails to send the message</a>
          </li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 1000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }

  function submitSpinner2() {
    console.log('clicked')
    var selects = document.getElementById('button--save')
    buttonClicked(selects)
  }
</script>

{% endblock %}

{% block footer %}
  {% include 'v6/includes/footer.html' %}
{% endblock %}