{% set serviceHome = '/v6/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Get your security code
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="get-verification-otp" method="post" class="form">

        <h1 class="nhsuk-heading-l">
          Get your security code
        </h1>

        <p>From the information you gave us we've found your contact details from  your health records.</p>

        <p>We will now send you a 6 digit security code. After 60 minutes your security code will not work.</p>

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">

            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l" >
              <h2 class="nhsuk-fieldset__legend--m">
                How should we send your security code?
              </h2>
            </legend>

            <div class="nhsuk-radios">

              <div class="nhsuk-radios__item">

                <input class="nhsuk-radios__input" id="pdserrornext-1" name="contactMethod" type="radio" value="email">
                <label class="nhsuk-label nhsuk-radios__label" for="pdserrornext-1">
                  By email at {{ email or '********lor@****l.com' }}
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="pdserrornext-2" name="contactMethod" type="radio" value="mobile">
                <label class="nhsuk-label nhsuk-radios__label" for="pdserrornext-2">
                  By text at {{ mobile or '********681' }}
                </label>
              </div>

            </div>

          </fieldset>

        </div>

      <details nhsuk-polyfilled="true" id="nhsuk-details0" class="nhsuk-details">
        <summary role="button" aria-controls="nhsuk-details__text0" tabindex="0" class="nhsuk-details__summary" aria-expanded="false">
          <span class="nhsuk-details__summary-text">
            What to do if the contact details are wrong
          </span>
        </summary>
        <div id="nhsuk-details__text0" class="nhsuk-details__text" aria-hidden="true">
          <p>If you do not have access to both the email address or mobile phone number, you will not be able to complete this change online. To update your details, please visit your GP.</p><p><a href="#" onclick="return false;">Find a GP</a></p>
        </div>
      </details>

      <button class="nhsuk-button full-width" type="submit">
        Continue
      </button>

    </form>

  </div>

</div>
{% endblock %}

{% block footer %}
  {% include 'v6/includes/footer.html' %}
{% endblock %}