{% set serviceHome = '/v6/start' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Are you trying to change your postal address?
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "../start",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="triage-address-post" method="post">

    {{ radios({
      "idPrefix": "address",
      "name": "address",
      "fieldset": {
        "legend": {
          "text": "Are you trying to change your postal address?",
          
          "classes": "nhsuk-fieldset__legend--l",
          "isPageHeading": "false"
        }
      },
      {{ hint({
        "text": "You are currently unable to update your postal address using this service.",
      })}}
      "items": [
        {
          "value": "yes",
          "text": "Yes",
          checked: checked("address", "yes")
        },
        {
          "value": "no",
          "text": "No",
          checked: checked("address", "no")
        }
      ]
    }) }}

    {{ button({
      "text": "Continue"
    }) }}

    </form>

  </div>

</div>
{% endblock %}

{% block footer %}
{% include 'v6/includes/footer.html' %}
{% endblock %}
