{% extends 'layouts/layout-app.html' %}
{% block pageTitle %}
The NHS App
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Home</h1>
      <h2>Welcome, {{ data['userNameFirst'] or 'Sarah' }} {{ data['userNameLast'] or 'Jones' }}</h2>
      <p>
        <strong>Date of birth:</strong>
        {{ data['userDOBDay'] or '20' }} {{ data['userDOBMonth'] or 'May' }} {{ data['userDOBYear'] or '1988' }}
      </p>
      <ul class="list-menu">
        <li>
          <a href="#">
            <li class="panel-link__item">
              <a class="panel-link__link" href="/nhs-app/your-health/covid-status/start-page">
                <h2 class="panel-link__heading nhsuk-heading-s">Get your NHS COVID Pass</h2>
                <p class="panel-link__content">View and share your COVID Pass for places in England that have chosen to use this service and for travel abroad</p>
              </a>
            </li>

          </a>
        </li>
        <li>
          <a href="#">View your unread messages</a>
        </li>
        <li>
          <a href="#">Access services for someone else</a>
        </li>
        <li>
          <a href="#">View your GP health record</a>
        </li>
        <li>
          <a href="#">Order a prescription</a>
        </li>
      </ul>
      <!--
      <div class=“instructions nhsuk-u-padding-4 nhsuk-u-margin-bottom-8”>
        <h3 class=“nhsuk-heading-l”>We're checking your information</h3>
        <p>This can take up to 2 hours.</p>
        <p>We'll email you to tell if your information passed our checks or not.</p>
        <p>At buys times, it may take longer.</p>
      </div>-->
    </div>
  </div>

  

{% endblock %}










