{% extends 'layouts/layout-accounts-p5.html' %}

{% block pageTitle %}
Home
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper nhs-app-thin" id="maincontent" role="main">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Home</h1>
        <dl class="nhsuk-summary-list nhsuk-summary-list--no-border nhs-app-summary-list-inline">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name:
              </dt>
            <dd class="nhsuk-summary-list__value">
              Alex Taylor
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth:
            </dt>
            <dd class="nhsuk-summary-list__value">
              20 September 1982
            </dd>
          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHS number:
            </dt>
            <dd class="nhsuk-summary-list__value">
              123 456 7890
            </dd>
          </div>

        </dl>

        <div class="nhs-app-panel-heading">
          <h2 class="nhsuk-heading-m">Popular services</h2>
        </div>

        <ul class="panel-link">
          <li class="panel-link__item">
            <a class="panel-link__link" href="/nhs-app/your-health/covid-status/start-page">
              <h2 class="panel-link__heading nhsuk-heading-s">Get your NHS COVID Pass</h2>
              <p class="panel-link__content">View and share your COVID Pass for places in England that have chosen to use this service and for travel abroad</p>
            </a>
          </li>
          <li class="panel-link__item">
            <a class="panel-link__link" href="">
              <h2 class="panel-link__heading nhsuk-heading-s">View your messages</h2>
            </a>
          </li>
          <li class="panel-link__item">
            <a class="panel-link__link" href="">
              <h2 class="panel-link__heading nhsuk-heading-s">Access services for someone else</h2>
            </a>
          </li>
          <li class="panel-link__item">
              <a class="panel-link__link" href="/nhs-app/your-health/gp-record/warning">
                <h2 class="panel-link__heading nhsuk-heading-s">View your GP health record</h2>
              </a>
          </li>
          <li class="panel-link__item">
            <a class="panel-link__link" href="/nhs-app/contact-details/contact-details">
              <h2 class="panel-link__heading nhsuk-heading-s">Update your contact details</h2>
            </a>
          </li>
          <li class="panel-link__item">
            <a class="panel-link__link" href="/nhs-app/prescriptions/not-nominated">
              <h2 class="panel-link__heading nhsuk-heading-s">Order a repeat prescription</h2>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>

    <script>
      function forgottenPasswordClickHandler(e) {
        e.preventDefault();
        var x = document.getElementById("loading");
        if (x.style.display === "none") {
          x.style.display = "inline-block";
        } else {
          x.style.display = "none";
        }
        setTimeout(() => window.location.href = e.target.href, 2000)
      }
    </script>

  </div>
</div>



  <style>
    .Login_continueWithNhsLogin_-t-uU[data-v-e274948a] {
    height: 60px;
    width: 345px;
    background-image: url(https://www.nhsapp.service.nhs.uk/v2-11-9/img/icon-continue-with-nhs-login-normal.5e4ceecb.svg);
    background-repeat: no-repeat;
    background-size: 345px 60px;
    display: block;
    font-size: 0;
    background-color: unset!important;
    border: unset!important;
    box-shadow: unset!important;
}

  .panel-link__link {
      background-color: #ffffff;
      background-image: url(https://nhsuk-transactions-prototype.azurewebsites.net/images/icon_arrow_left.svg);
      background-position: right 1em center;
      background-repeat: no-repeat;
      color: #005eb8;
      display: block;
      padding: 10px 2em 10px 1em;
      text-decoration: none;
  }

  @media (max-width: 48.0525em) {
  .panel-link {
      margin: 0 -1em 1em;
  }
  }
  .panel-link {
      border-top: 1px #d8dde0 solid;
      font-size: 1em;
      list-style: none;
      margin-bottom: 1em;
      padding-left: 0;
  }
  @media (max-width: 48.0525em) {
  .panel-link {
      margin: 0 -1em 1em;
  }
  }
  .panel-link {
      font-size: 1em;
      list-style: none;
      margin-bottom: 1em;
      padding-left: 0;
  }
  .panel-link__link .panel-link__heading {
      margin: 0;
      padding-bottom: 6px;
  }
  .panel-link__link .panel-link__heading {
      margin: 0;
      padding-top: 4px;
      padding-bottom: 4px;
  }
  .panel-link__link .panel-link__content {
    color: #212b32;
    margin-bottom: 0;
}
.panel-link__link .panel-link__content {
    color: #212b32;
    margin-bottom: 0;
    padding: 4px 0px 4px 0px;
}
</style>



{% endblock %}
