{% extends 'layout.html' %}

{% block pageTitle %}
Prototype v7 - Add or correct your contact details
{% endblock %}

{% block header %}
{{ header({
"service": {
"name": "NHS Reverification prototypes",
"href": "/"
},
"showNav": "false",
"showSearch": "false"
})
}}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">Prototype v7</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Expanded Scope with NHS login integration</p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Add or correct your contact details</h2>

      <ul class="nhsuk-list spaced">
        <div class="informative-tab informative-tab-green"><strong>In design</strong></div>
        <li>
          <p>A citizen either finds the service via NHS UK or is notified (SMS or email) about either a missing or malformed (invalid) contact detail and directed to a service to rectify it. <br><br>They are linked to or find a standalone web service that that takes their details and matches them to their PDS record or allows to sign in with NHS login.<br><br>If not an NHS login user - A verification check happens on the alternative contact detail to the one they want to change. If successful, they can then change the contact detail but are restricted from using the service for 7 days.</p>

          <div class="nhsuk-grid-row">
            <ul class="nhsuk-list list-unstyled">
              <li> ➡️ User gets an email &nbsp;(<a href="/v7/notification-email-missing?contactMethod=email&result=singlegood&reason=missingmobile">missing mobile</a>) | (<a href="/v7/notification-email-malformed?contactMethod=email&result=singlegood&reason=malformedmobile">malformed mobile</a>)</li>
              <li> ➡️ User gets an SMS &nbsp;(<a href="/v7/notification-sms-missing?contactMethod=sms&result=singlegood&reason=missingemail">missing email</a>) | (<a href="/v7/notification-sms-malformed?contactMethod=sms&result=singlegood&reason=malformedemail">malformed email</a>)</li>
              <li class="nhsuk-u-padding-top-3"> ➡️ &nbsp;<a href="/v7/start">Service start page</a> | (<a href="/v7/start?devMode=true">run in devMode</a>)</li>
            </ul>
          </div>

          <h3 class="nhsuk-u-margin-top-8">Changes in this prototype</h3>

          <ol class="nhsuk-summary-list">
            <li>Expanded the scope of the service to include allowing changes to technically valid but incorrect contact details.</li>
            <li>NHS login integration with a scope of P5</li>
          </ol>

        </li>
      </ul>




    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">

      {% include 'includes/links.html' %}

    </div>

  </div>
{% endblock %}

{% block footer %}
{{ footer({
"links": [
  {
    "URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
    "label": "Prototype kit version: " + version
  },
  {
    "URL": "?devMode=true",
    "label": "Turn on devMode"
  },
  {
    "URL": "/examples/passing-data/clear-data",
    "label": "Clear data"
  }
]
})}}
{% endblock %}