{% set serviceHome = '/v7/start' %}
{% set serviceFooter = 'v7/includes/footer' %}
{% extends 'layout.html' %}

{% set contactmethod = "sms" %}

{% block pageTitle %}
  Text message
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/notify-text.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">Text message</h1>

    <div class="app-text-message">
      <h2 class="nhsuk-heading-s">NHS</h2>
      <p class="app-text-message__text">

        NHS contact details:<br>
        Dear {{ data['first-name'] or 'Sarah' }},<br><br>

        The email address on your NHS record may be incorrect as it does not match the standard format.<br><br>

        Your GP and the NHS use your contact details to get in touch about healthcare services.<br><br>

        To update your email address go to <a href="start">www.nhs.uk/add-correct-contact-details</a>.<br><br>

        Alternatively you can:<br>

        1. Go to <a href="start">nhs.uk</a> website.<br>

        2. Write 'update details' into the search box.

      </p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
