{% set serviceHome = '/v5/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  You have to be 16 or over to use this service
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "what-is-your-dob",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">You have to be 16 or over to use this service</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <h2 class="nhsuk-heading-m">Other ways to update your details</h2>
        <p>You can update your details through your GP surgery.</p>

        <p>If you are not registered with a GP you can find one using our our <a href="https://www.nhs.uk/service-search/find-a-gp">Find a GP</a> service.</p>

      </div>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v5/includes/footer.html' %}
{% endblock %}