{% set serviceHome = '/v5/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Something went wrong
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">Something went wrong</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <p>We were unable to send the security code. Please try again. </p>

        <a href="get-security-code" class="nhsuk-button full-width" id="button">Try again</a>

        {% include "../includes/other-channels.html" %}

      </div>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include 'v5/includes/footer.html' %}
{% endblock %}