{% set serviceHome = '/v5/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Your contact details are in a recognised format
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">Your contact details are in a recognised format</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <p>You can only use this service to add or correct details that are missing or a format that is not recognised.</p>

        {% include "../includes/other-channels.html" %}

      </div>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v5/includes/footer.html' %}
{% endblock %}