{% set serviceHome = '/v5/start' %}
{% set feedbackType = 'step' %}
{% set hideFeedback = 'true' %}

{% extends 'layout.html' %}

{% block header %}
  {{ header({
    "service": {
      "name": "NHS login",
      "href": "#"
    },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block pageTitle %}
  Have you received a message from the NHS to add or correct your contact details?
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="nhs-login-create" method="post">


      <fieldset class="nhsuk-fieldset">

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-heading-l">
            Enter your email address
          </h1>
        </legend>
        <p class="nhsuk-body">If you have used the <strong>NHS App</strong> or other NHS websites or apps such as Covid services, you should enter the email address you used to register for them.</p>
        <p class="nhsuk-body">We will check if you have an NHS login. If not, you can set one up.</p>
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="emailAddress">
            Email address
          </label>
          <input class="nhsuk-input nhsuk-input--width-20" id="emailAddress" name="emailAddress" value="" type="text" autocomplete="on">
        </div>

        <button class="nhsuk-button full-width" id="button--save">Continue</button>
        <button id="button2" class="nhsuk-u-visually-hidden">Submit</button>

        <div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <h2>What is NHS login?</h2><p>You can use your NHS login to access health websites and apps that have the NHS login button. If you do not have an NHS login, enter your email address to set one up.</p>
        </div>

        <div class="nhsuk-warning-callout">

          <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Coronavirus (COVID-19)
          </span>
          </h3>
          <p>For health information and advice, read <a href="#" onclick="return false;">NHS guidance about Coronavirus</a></p>
        </div>

      </fieldset>
    </form>

  </div>

</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 1000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button--save')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }

  function submitSpinner2() {
    console.log('clicked')
    var selects = document.getElementById('button--save')
    buttonClicked(selects)
  }
</script>

{% endblock %}

{% block footer %}
{% set feedbackType = 'final' %}
{% include 'v5/includes/footer.html' %}
{% endblock %}