{% set serviceHome = '/v5/start' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Update your details with the NHS App
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-notified",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-u-reading-width">

          <h1 class="nhsuk-heading-l">Update your details using NHS account</h1>

          <p class="nhsuk-card__description">
            Logging into NHS account allows you to change your contact mobile number and email address.
          </p>

<!--          <p>You can have an account if you are:</p>-->
<!--          <ul class="nhsuk-summary-list">-->
<!--            <li>registered with a GP surgery in England</li>-->
<!--            <li data-block-key="fokat">aged 13 or over</li>-->
<!--          </ul>-->

          {{ details({
          "text": "How to update your phone number or email address using the NHS account:",
          "HTML": "
          <ol>
            <li>Log in.</li>
            <li>Go to More.</li>
            <li>Select Account and settings.</li>
            <li>Select Manage NHS account.</li>
            <li>Then select Contact details on your NHS record.</li>
            <li>Choose which contact detail you want to change on your NHS record.</li>
            <li>Follow the on-screen instructions.</li>
          </ol>
          <p>Ask your GP surgery for help if you can't find your NHS number.</p>
          "
          }) }}

          <a href="https://www.nhsapp.service.nhs.uk/login" role="button" draggable="false" class="nhsuk-button nhsuk-button--beta-login" style="margin-bottom: 48px">Log in to your NHS account</a>

        <h2 class="nhsuk-heading-m">Get the NHS App</h2><p data-block-key="94f8a">You can also log in to your NHS account using the NHS App on your smartphone or tablet.</p>

        <figure class="app-apps-store-link">
          <div class="nhsuk-c-image__container">
            <a href="https://itunes.apple.com/us/app/nhs-app/id1388411277?ls=1&amp;mt=8">
              <img class="nhsuk-c-image__img" alt="Download on the App store" src="/images/apple-store-badge.svg">
            </a>
          </div>
        </figure>

        <figure class="app-apps-store-link">
          <div class="nhsuk-c-image__container">
            <a href="https://play.google.com/store/apps/details?id=com.nhs.online.nhsonline">
              <img class="nhsuk-c-image__img" alt="Download on Google Play" src="/images/google-play-badge.png">
            </a>
          </div>
        </figure>


      <h2 class="nhsuk-heading-m" style="margin-top: 28px">If you cannot use either of the online options</h2>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">

          {% if firstOption === 'nhs-login' %}
          <h1 class="nhsuk-card__heading nhsuk-heading-l">Go to your GP</h1>
          {% else %}
          <h3 class="nhsuk-card__heading nhsuk-heading-s">Go to your GP</h3>
          {% endif %}

          <p class="nhsuk-card__description">To check and update your details, please contact your GP.<p>

          <p class="nhsuk-card__description">If you are not registered with a GP, try our Find a GP service.<p>

          <div class="nhsuk-action-link">

            <a class="nhsuk-action-link__link" href="https://www.nhs.uk/service-search/find-a-gp">

              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="36" width="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Find a GP</span>
            </a>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
{% endblock %}

{% block footer %}
  {% set feedbackType = 'final' %}
  {% include 'v5/includes/footer.html' %}
{% endblock %}