{% set serviceHome = '/v5/start' %}
{% set feedbackType = 'step' %}

{% extends 'layout.html' %}

{% block pageTitle %}
Would you like to sign in with NHS login?
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-notified",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h2 class="nhsuk-heading-l">Would you like to use your NHS login?</h2>

<!--    <div id="contact-hint">-->
<!--      <p>You may have set up an NHS login when using other health websites or apps, like COVID-19 service or the NHS App.</p>-->
<!--    </div>-->

    <p>NHS login allows you to access your health and care websites and apps with one set of login details.</p>

    <p>We will check if you have an NHS login. If not, you can set one up.</p>

    <form action="/sprint-12/section-1/nhs-login-email-address" method="post" autocomplete="off">
    <input type="hidden" name="user-auth" id="user-auth" value="p9">
    <a href="nhs-login-email" class="nhsuk-button nhsuk-button--beta-login nhsuk-u-margin-bottom-4" type="submit">
      Continue to NHS login
    </a>
  </form>

    <div id="contact-hint" class="nhsuk-u-margin-top-4">
      <p>Alternatively you can continue without using NHS login:</p>
    </div>

    <p><a href="do-you-know-nhs" class="nhsuk-button nhsuk-button--secondary">Continue without</a></p>

  </div>
</div>
{% endblock %}

{% block footer %}
{% set feedbackType = 'final' %}
{% include 'v5/includes/footer.html' %}
{% endblock %}