<!-- Extends the layout from /views/layout.html -->
{% extends '../layouts/blank-loggedout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Welcome to stepWell
{% endblock %}

{% block beforeContent %}

{{ hero({
  "heading": "Welcome to stepWell",
  
  "imageURL": "/images/cardiologyBanner.jpg"
}) }}

{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
 
 
 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row nhsuk-panel-group">
        <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3 class="nhsuk-heading-m">Book appointments</h3>
            <p>You can use stepWell to search for, book and cancel GP appointments with your registered GP surgery</p>
          </div>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
            <div class="nhsuk-panel">
              <h3 class="nhsuk-heading-m">Order repeat prescriptions</h3>
              <p>stepWell also lets you view your available medications and request a new repeat prescription</p>
            </div>
          </div>
          <div class="nhsuk-grid-column-one-third nhsuk-panel-group__item">
            <div class="nhsuk-panel">
              <h3 class="nhsuk-heading-m">View your medical record</h3>
              <p>Access your GP medical record in a safe and secure way with stepWell</p>
            </div>
          </div>
        </div>   

{# 
 <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          <div class="nhsuk-promo">
           <div class="nhsuk-promo__link-wrapper">
              <div class="nhsuk-promo__content">
                <h3 class="nhsuk-promo__heading">Book appointments</h3>
                  <p>Search for, book and cancel GP appointments with your registered GP surgery</p>
              </div>
           </div>
          </div>
        </div>
      <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="#">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">Order repeat prescriptions</h3>
              <p>See your available medications and request a new repeat prescription</p>
          </div>
        </a>
      </div>
    </div>
    <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="#">
          <div class="nhsuk-promo__content">
            <h3 class="nhsuk-promo__heading">View your medical record</h3>
            <p>Get secure access to your GP medical record</p>
          </div>
        </a>
      </div>
    </div>
  </div> #}


{% endblock %}
