{% set serviceHome = '/v3/start' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Choose your method
{% endblock %}

{% block header %}
  {{ header({
    "service": {
      "name": "Update your contact details",
      "href": "/"
    },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-which-details",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div aria-live="polite" class="nhsuk-u-reading-width">

<!--      <h1 class="nhsuk-heading-l">Your options</h1>-->

      {% if canUseWebService === 'yes' %}
        {% set firstOption = 'add-correct' %}
        {% include './includes/method-add-correct.html' %}

      {% elif canUseApp === 'yes' %}
        {% set firstOption = 'nhs-account' %}
        {% include './includes/method-nhs-account.html' %}
      {% endif %}

      <h2 class="nhsuk-heading-m">Because you use the NHS App, these options are also available</h2>

      {% if canUseApp === 'yes' %}
        {% include './includes/method-nhs-account.html' %}
      {% endif %}

      {% if canUseApp === 'ii' %}
        {% include './includes/method-login-settings.html' %}
      {% endif %}

      <h2 class="nhsuk-heading-m">If you cannot use any of the online options</h2>

      {% if canUseApp === 'yes' %}
        {% include './includes/method-goto-gp.html' %}
      {% endif %}

    </div>

  </div>

</div>
{% endblock %}

{% block footer %}
  {% set feedbackType = 'final' %}
  {% include 'v3/includes/footer.html' %}
{% endblock %}