{% set serviceHome = '/v3/start' %}
{% set serviceFooter = '/v2/includes/footer.html' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  You cannot continue
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <h1 class="nhsuk-heading-l">
      You cannot continue
    </h1>

    <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">
      <p>You have entered a wrong security code too many times.</p>
      <p>You must wait up to 1 hour before trying again.</p>
    </div>

  </div>

</div>
{% endblock %}

{% block footer %}
  {% include 'v2/includes/footer.html' %}
{% endblock %}
