{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Create a password
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "javascript:history.back()",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <form action="javascript:history.back()" method="post" class="form">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              Create a password
            </h1>
          </legend>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="createPassword">
              Create a password
            </label>
            <div class="nhsuk-hint" id="createPassword-hint">
              <p>Your password must have:
                <ul>
                  <li>8 characters or more</li>
                  <li>1 capital letter or more</li>
                </ul>
              </p>
            </div>
            <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" id="createPassword" name="createPassword" type="password" aria-describedby="createPassword-hint" data-toggle-password-field-confirm>
            <div style="display: inline; position: relative;">
              <div style="display: inline; position: relative;">
                <button type="button" aria-pressed="false" data-toggle-password-confirm
                  class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                  <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 2px; margin-top: 2px; margin-left: 8px; margin-right: 8px;"><b>Show</b></span>
                </button>
              </div>
          </div>
          <div class="nhsuk-form-group nhsuk-u-margin-top-4" >
            <label class="nhsuk-label" for="confirmPassword">
              Confirm password
            </label>
            <input autocomplete="on" class="nhsuk-input nhsuk-input--width-20" id="confirmPassword" name="confirmPassword" type="password" data-toggle-password-field-confirm>
            <div style="display: inline; position: relative;">
              <div style="display: inline; position: relative;">
                <button type="button" aria-pressed="false" data-toggle-password-confirm
                  class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
                  <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 2px; margin-top: 2px; margin-left: 8px; margin-right: 8px;"><b>Show</b></span>
                </button>
              </div>
          </div>
          </div>
          <h2 class="nhsuk-heading-s">Agree to our terms of use
          </h2>
          <p class="nhsuk-body">We will collect and save your information securely. We will not share
            your personal information without your consent.
          </p>
          <p class="nhsuk-body">
            By continuing you confirm that you agree to our <a href="/legal/privacy">privacy notice</a> and
          <a href="/legal/terms">terms and conditions.</a>
          </p>  
        <div>
          <button data-redirect="javascript:history.back()" class="nhsuk-button full-width" type="submit" id="button--save">
            Continue
          </button>
        </div>
        </fieldset>
      </form>
        
      {% if data['devMode'] %}
      {% include "includes/devmode-enter-email.html" %}
      {% endif %}

    </div>
  </div>

  <script type="text/javascript">
    submitSpinner()
  
    function buttonClicked(target) {
      target.setAttribute('disabled', 'disabled')
      target.className += ' button--save'
      setTimeout(function () {
        window.location.href = target.dataset.redirect;
      }, 2000)
    }
  
    function submitSpinner() {
      var selects = document.getElementById('button--save')
      selects.addEventListener('click', function (event) {
        event.preventDefault()
        if (selects.getAttribute('disabled') === 'disabled') {
          console.log('already clicked')
        } else {
          event.preventDefault()
          console.log(selects.getAttribute('disabled'))
          buttonClicked(selects)
        }
      })
    }
  </script>

{% endblock %}
