<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{{ backLink({
  "href": "what-is-your-postcode",
  "text": "Go back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

        <h1 class="nhsuk-heading-l">Check your answers</h1>

        <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row" id="Name">
                <dt class="nhsuk-summary-list__key">
                    Name
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['first-name'] or 'Sarah' }} {{ data['middle-name'] }} {{ data['last-name'] or 'Jones' }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="whats-your-name">
                        Change<span class="nhsuk-u-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row" id="DateOfBirth">
                <dt class="nhsuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['date-of-birth-day'] or '20' }} {{ data['date-of-birth-month'] or '5' }} {{ data['date-of-birth-year'] or '1988' }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="what-is-your-dob">
                        Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
                    </a>
                </dd>
            </div>
            <div class="nhsuk-summary-list__row" id="Postcode">
                <dt class="nhsuk-summary-list__key">
                    Postcode
                </dt>
                <dd class="nhsuk-summary-list__value">
                    {{ data['whatspostcode'] or 'LS11 9UI' }}
                </dd>
                <dd class="nhsuk-summary-list__actions">
                    <a href="what-is-your-postcode">
                        Change<span class="nhsuk-u-visually-hidden"> postcode</span>
                    </a>
                </dd>
            </div>
        </dl>

        <form method="post" action="missing-both">
            <button data-redirect="missing-both" class="nhsuk-button full-width" id="button--save">
              Continue
            </button>
    </div>
</div>

<script type="text/javascript">

</script>

{% endblock %}
