{{ footer({
  "links": [
    {
      "URL": "/v1/legal/terms",
      "label": "Terms of use"
    },
    {
      "URL": "/v1/legal/cookies",
      "label": "Cookies"
    },
    {
      "URL": "/v1/legal/accessibility",
      "label": "Accessibility"
    },
    {
      "URL": "https://support-nhslogin.herokuapp.com/",
      "label": "Help centre"
    },
    {
      "URL": "?devMode=true",
      "label": "DM"
    },
    {
      "URL": "/examples/passing-data/clear-data",
      "label": "CD"
    }
  ]
}) }}