{% set serviceHome = '/v4/start' %}

{% extends 'layout.html' %}

{% block pageTitle %}
  Have you received a message from the NHS to add or correct your contact details?
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="create-account-post" method="post">

      {{ radios({
        "idPrefix": "create-account",
        "name": "create-account",
        "fieldset": {
          "legend": {
            "text": "Would you like us to create an NHS login with the details you provided?",
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        },
        hint: {
          text: "Your NHS login will be created automatically. You can then access our health and care websites safely and securely. "
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes, Create an NHS login"
          },
          {
            "value": "no",
            "text": "No thanks"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </form>

  </div>

</div>
{% endblock %}

{% block footer %}
{% set feedbackType = 'final' %}
{% include 'v4/includes/footer.html' %}
{% endblock %}