{% set serviceHome = '/v4/start' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  Get a security code
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="get-verification-otp" method="post" class="form">
        <h1 class="nhsuk-heading-l">
          Get a security code
        </h1>

        <div class="nhsuk-hint">
          <p>We have found an NHS record with the information you have provided.</p>

          <p>To continue, we will send you a 6 digit security code.

          <p>You need to use this code within <b>1 hour</b> or it will expire.

        </div>

        <h2 class="nhsuk-heading-s">The security code will be sent to:</h2>

        {% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}
        <p>{{ email or '********lor@****l.com' }}</p>
        {% else %}
        <p>{{ mobile or '********681' }}</p>
        {% endif %}

      <details nhsuk-polyfilled="true" id="nhsuk-details0" class="nhsuk-details">
        <summary role="button" aria-controls="nhsuk-details__text0" tabindex="0" class="nhsuk-details__summary" aria-expanded="false">
          <span class="nhsuk-details__summary-text">
            {% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}
              I do not have access to this email
            {% else %}
              I do not have access to this phone
            {% endif %}
          </span>
        </summary>
        <div id="nhsuk-details__text0" class="nhsuk-details__text" aria-hidden="true">
          <p>If you do not have access to this mobile phone, you will not be able to complete this change online. To update your details, please visit your GP.</p><p><a href="#" onclick="return false;">Find a GP</a></p>
        </div>
      </details>

        <div>
          <button class="nhsuk-button full-width" type="submit" id="button--save">
            Continue
          </button>
          <button id="button2" class="nhsuk-u-visually-hidden">Submit</button>
        </div>
    </form>

    {% if data['devMode'] === 'true' %}
    {# DEVMODE SCENARIOS #}

    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Continue with testing scenario
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <h4>Happy path</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="#" onclick="submitSpinner2()">Code sent</a>
          </li>
        </ul>
        <h4>Business rule Errors</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="error-otplimit?referer={% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}email{% else %}mobile{% endif %}">User has requested the OTP too many times</a>
          </li>
        </ul>
        <h4>Notify Errors</h4>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="error-notifyfail?referer={% if req.session.data['contactMethod'] === 'email' or data['contactMethod'] === 'email' %}email{% else %}mobile{% endif %}">Notify fails to send the message</a>
          </li>
        </ul>
      </div>
    </details>
    {% endif %}

  </div>
</div>

<script type="text/javascript">
  submitSpinner()

  function buttonClicked(target) {
    target.setAttribute('disabled', 'disabled')
    target.className += ' button--save'
    setTimeout(function () {
      document.getElementById('button2').click()
    }, 1000)
  }

  function submitSpinner() {
    var selects = document.getElementById('button')
    selects.addEventListener('click', function (event) {
      event.preventDefault()
      if (selects.getAttribute('disabled') === 'disabled') {
        console.log('already clicked')
      } else {
        event.preventDefault()
        console.log(selects.getAttribute('disabled'))
        buttonClicked(selects)
      }
    })
  }

  function submitSpinner2() {
    console.log('clicked')
    var selects = document.getElementById('button--save')
    buttonClicked(selects)
  }
</script>

{% endblock %}

{% block footer %}
  {% include 'v4/includes/footer.html' %}
{% endblock %}