<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Confirm changes
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
      <form action="check-your-mobile-2"  method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <span _ngcontent-kcp-c41="" class="nhsuk-hint nhsuk-u-margin-bottom-2">Change phone number on NHS record</span>
            <h1 class="nhsuk-heading-l">
              Confirm changes to NHS record
            </h1>
          </legend>
          <p class="nhsuk-body">
            You have chosen to change your mobile phone number to
          </p>
          <p class="nhsuk-body">
            07123445131
          </p>
          <hr>
          <p class="nhsuk-body">
            If this is not correct, <a href="#">you can change your mobile phone number</a>.
          </p>
          <p class="nhsuk-body">
            These changes will not affect your NHS login.
          </p>
          <button class="nhsuk-button full-width" type="submit" id="button--save">
            Continue
          </button>
          <p class="nhsuk-body notbold">
            <a href="#">I do not want to change my mobile phone number</a>
          </p>

        </fieldset>
      </form>
    </div>
  </div>

  <style>
    .Login_continueWithNhsLogin_-t-uU[data-v-e274948a] {
    height: 60px;
    width: 345px;
    background-image: url(https://www.nhsapp.service.nhs.uk/v2-11-9/img/icon-continue-with-nhs-login-normal.5e4ceecb.svg);
    background-repeat: no-repeat;
    background-size: 345px 60px;
    display: block;
    font-size: 0;
    background-color: unset!important;
    border: unset!important;
    box-shadow: unset!important;
}
</style>
{% endblock %}
