<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Contact details final page
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">
      <form action="account-and-settings" autocomplete="on">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <span _ngcontent-kcp-c41="" class="nhsuk-hint nhsuk-u-margin-bottom-2">Change phone number on NHS record</span>
            <h1 class="nhsuk-heading-l">
              We have saved your contact details to your NHS record
            </h1>
          </legend>
          <div class="nhsuk-u-margin-top-1">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>The mobile phone number you want to use is <strong> 07123445131</strong>.</p>
          </div>
          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                There may be a delay
              </span>
            </h3>
            <p class="notbold">This is because some NHS services, such as your GP,  may not see your request to update your mobile phone number straight away.</p>
            <p class="notbold">If you're waiting for an important phone call from an NHS service you can contact them directly to update your mobile phone number.</p>
          </div>
          <button href="/v3/P5/account-and-settings" class="nhsuk-button full-width" type="submit" id="button--save">
            Go back to settings
          </button>
        
        </fieldset>
      </form>
    </div>
  </div>

<style>
  @media (min-width: 768px) {
  .nhsuk-warning-text__icon {
      margin-top: -5px;
  }
}
  .nhsuk-warning-text__icon {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      background: #0b0c0c;
      border-radius: 50%;
      border: 3px solid #0b0c0c;
      color: #fff;
      display: inline-block;
      font-size: 30px;
      font-weight: 700;
      left: 0;
      line-height: 29px;
      margin-top: -7px;
      min-height: 29px;
      position: absolute;
      text-align: center;
      user-select: none;
      width: 35px;
  }

  .nhsuk-warning-text {
    position: relative;
    padding: 10px 0;
}
@media (min-width: 40.0625em) {
.nhsuk-u-margin-bottom-3 {
    margin-bottom: 16px !important;
}
}

@media (min-width: 768px) {
.nhsuk-warning-text__text {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3;
}
}
.nhsuk-warning-text__text {
    color: #0b0c0c;
    display: block;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25;
    padding-left: 45px;
    text-align: left;
}

.notbold {
    font-weight: normal;
  }
</style>


{% endblock %}