<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Update your contact details
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-width-container">

  <main class="nhsuk-main-wrapper" id="maincontent" role="main" style="padding-top: 0;">

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <h1>Update your contact details</h1>

        <p>We use the contact details on your NHS record to get in touch with you about screening, vaccinations or other appointment reminders.</p>

        <p>It's important that your contact details are correct, as your GP and other NHS services will use them to contact you.</p>

        <p>You can update your email address or mobile phone number by using NHS login. </p>

        <p>This will not update your NHS login details.</p>

        <!-- amended text from You can update your email address or mobile phone number by using this service. to You can update your meil address or mobile phone number by using-->

        
        <a class="login_continueWithNhsLogin_-t-uU"
          href="/v3/P5/enter-your-email-address"
          data-v-e274948a=""
          data-v-60420a25=""
          role="button"
          id="viewInstructionsButton"
          button-classes="nhsuk-login,nhsuk-body,nhsuk-button,"
          tabindex="0"
          aria-label="Continue with NHS login"
          style="margin: 0px 0px 24px 0px;"
        >
          Continue with NHS login
        </a>
        
        <!-- added text below-->
        
        <p> If you do not want to use NHS login, or create an NHS login account, you can update your details by using our one off service. </p>
        
        <h2>Before you start</h2>
        <p>You will need access to your email account and mobile phone.</p>
        <p>To verify it's you, we will send a security code to the contact details we already have for you.</p>
        <p>Once confirmed, we'll send a different security code to the contact details you're adding, to check it's working correctly.</p>
      
        <a button class="nhsuk-button nhsuk-button--secondary" href="/v3/malformed-mobile/do-you-know-nhs"  type="submit">
          Start now
        </button>
        </a>
        
        <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

      </div>
    </div>

  </main>
</div>

<style>
  .login_continueWithNhsLogin_-t-uU[data-v-e274948a] {
  height: 60px;
  width: 345px;
  background-image: url(https://www.nhsapp.service.nhs.uk/v2-11-9/img/icon-continue-with-nhs-login-normal.5e4ceecb.svg);
  background-repeat: no-repeat;
  background-size: 345px 60px;
  display: block;
  font-size: 0;
  background-color: unset!important;
  border: unset!important;
  box-shadow: unset!important;
}
</style>

{% endblock %}
