{% extends 'layouts/layout-accounts.html' %}
{% block pageTitle %}
The NHS App
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/v3/P5/user-admin">Home</a></li>
      </ol>
    </div>
  </nav>
{% endblock %}

{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      
      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2" style="padding: 0px 0px 10px 0px;">More</h1>
      
      <ul class="app-boxes">
        <li class="app-box">
          <a href="#">
            <h3 class="app-box-title">Linked profiles</h3>
          </a>
        </li>
        <li class="app-box">
          <a href="/v3/P5/account-and-settings">
            <h3 class="app-box-title">Account and settings</h3>
          </a>
        </li>
        <li class="app-box">
          <a href="#">
            <h3 class="app-box-title">Help and support</h3>
          </a>
        </li>
      </ul>
    

      <!-- Styles for cards -->
      
      <style>
        .app-box {
          position: relative;
          background: white;
          padding: 22px 16px 22px 16px;
          font-size: 22px;
          border-top: 0.5px solid 	#d8dde0;
          border-bottom: 0.5px solid 		#d8dde0;
          margin: 4px 0px 4px 0px;
        }
        .app-box-small {
          position: relative;
          background: white;
          padding: 12px 16px 12px 16px;
          font-size: 24px;
          border-top: 0.5px solid lightgrey;
          border-bottom: 0.5px solid lightgrey;
          margin: 0px;
        }
        .app-box:not(.app-box--heading)::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 1.2rem;
          margin: auto;
          border-color:		#4c6272;
          border-style: solid;
          border-width: 0.1em 0.1em 0 0;
          height: 0.55em;
          width: 0.55em;
          transform: rotate(45deg);
        }
        .app-box--heading {
          margin-bottom: 0;
          border-bottom: none;
        }
        .app-boxes {
          list-style: none;
          padding: 0;
          margin: 0;
        }
        .app-boxes li {
          display: block;
        }
        .app-box > a {
          text-decoration: none;
        }
        .app-box-title {
          font-size: 22px;
          margin-bottom: 0;
        }
        .app-box-description {
          font-size: 20px;
          margin-bottom: 0;
          margin-top: 0.8rem;
          color: black;
        }
      </style>
    </div>
  </div>

  

{% endblock %}