{% extends 'layout.html' %}

{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">Your details have been updated</h1>

      {% if data['contactMethod'] === 'sms' %}
      <p>Your mobile phone number has been updated to <strong>{{ data['newMobileNum'] or '07463966681'}}</strong>.</p>
      {% else %}
      <p>Your email address has been updated to <strong>{{ data['newEmailAddress'] or 'test@test.com'}}</strong>.</p>
      {% endif %}

      {{ warningCallout({
      "heading": "There may be a delay",
      "HTML": "<p>Your GP practice will need to review and approve this change before it can be updated across other services.</p>"
      }) }}

      <p class="nhsuk-body-m nhsuk-u-secondary-text-color nhsuk-u-margin-top-7 nhsuk-u-margin-bottom-0">
        Would you like to <a href="feedback-page">give feedback about this service?</a>
      </p>

    </div>

  </div>

{% endblock %}
