{% extends 'layout.html' %}

{% block pageTitle %}
  Enter your new mobile number
{% endblock %}

{% block outerContent %}
{{ backLink({
  "href": "contact-details",
    "text": "Go back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">
      Enter your new mobile number
    </h1>

    <form action="check-your-mobile-verify-change"  method="post">

      <p>We will send a 6 digit security code.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="newMobileNumber">
          UK mobile number
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="newMobileNumber" name="newMobileNumber" value="{{ data['first-name'] }}"  type="tel" spellcheck="false" autocomplete="tel">
      </div>

      <button class="nhsuk-button full-width">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
