{% extends 'layout.html' %}

{% block pageTitle %}
  Thank you for your feedback
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

{% block content %}

<style>
    .panel-link__link {
        background-color: #ffffff;
        background-image: url(https://nhsuk-transactions-prototype.azurewebsites.net/images/icon_arrow_left.svg);
        background-position: right 1em center;
        background-repeat: no-repeat;
        color: #005eb8;
        display: block;
        padding: 10px 2em 10px 1em;
        text-decoration: none;
    }

    @media (max-width: 48.0525em) {
        .panel-link {
            margin: 0 -1em 1em;
        }
    }
    .panel-link {
        border-top: 1px #d8dde0 solid;
        font-size: 1em;
        list-style: none;
        margin-bottom: 1em;
        padding-left: 0;
    }
    @media (max-width: 48.0525em) {
        .panel-link {
            margin: 0 -1em 1em;
        }
    }
    .panel-link {
        font-size: 1em;
        list-style: none;
        margin-bottom: 1em;
        padding-left: 0;
    }

</style>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-card nhsuk-card--confirmation nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">

            <div class="nhsuk-card__content">

              <h1 class="nhsuk-card__title nhsuk-u-margin-bottom-4">
                Thank you for your feedback
              </h1>

              <p class="nhsuk-u-font-size-24">
                Your feedback regarding Add or correct your contact details will help us to improve our service.
              </p>

            </div>

          </div>

      </div>

  </div>

{% endblock %}
