<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
  {{ backLink({
    "href": "data-not-found-route",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <form action="/v1/one-off/data-not-found/what-is-your-dob-no" method="post">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-heading-l">
              What is your NHS number?
            </h1>
            <div class="nhsuk-hint"><p>Your NHS number is a 10 digit number that you find on any letter the NHS has sent you. For example, 485 777 3456.</p></div>
          </legend>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="first-name">
              Your NHS number
            </label>
            <input class="nhsuk-input nhsuk-u-width-three-quarters" id="first-name"  name="nhs-number" type="text">
          </div>

            <a href="check-your-answers-try-name" class="nhsuk-button">Continue</a>

        </fieldset>

      </form>

    </div>

  </div>

{% endblock %}
