{% extends 'layouts/layout-app.html' %}

{% block pageTitle %}
The NHS App
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Home</h1>

      <h2>Welcome, {{ data['userNameFirst'] or 'Paul' }} {{ data['userNameLast'] or 'Smith' }}</h2>

      <p>
        <strong>Date of birth:</strong>
        {{ data['userDOBDay'] or '20' }} {{ data['userDOBMonth'] or 'January' }} {{ data['userDOBYear'] or '1981' }}
      </p>

      <ul class="list-menu">
        <li>
          <a href='#'>View your messages</a>
        </li>
        <li>
          <a href='#'>Get health advice</a>
        </li>
      </ul>
    
    
      <!--
      <div class="instructions nhsuk-u-padding-4 nhsuk-u-margin-bottom-8">
        <h3 class="nhsuk-heading-l">We're checking your information</h3>
        <p>This can take up to 2 hours.</p>
        <p>We'll email you to tell if your information passed our checks or not.</p>
        <p>At buys times, it may take longer.</p>
      </div>-->

    </div>
  </div>
{% endblock %}
