{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Agree to share your NHS login information
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Agree to share your NHS login information
      </h1>
      <p class="nhsuk-body">
        To continue, you need to agree to share your NHS login information with <strong>HealthApp</strong>.
      </p>
      <p class="nhsuk-body">
        <strong>HealthApp</strong> will use your:
        <ul>
          {% if data.verificationLevel === 'p0' %}
          <li>
            email address
          </li>
          {% else %}
          <li>
            NHS number
          </li>
          <li>
            date of birth
          </li>
          <li>
            full name
          </li>
          {% endif %}
        </ul>
      </p>
      <p class="nhsuk-body">
        Read the terms of use and privacy policy for <strong>HealthApp</strong> to check how your information will be used.
      </p>
      <form action="end" method="post" class="form">
        <fieldset class="nhsuk-fieldset">
          
          <button class="nhsuk-button full-width" type="submit" id="button--save">
            I agree
          </button>
        
        </fieldset>
      </form>
      <p>
        <a href="start">
          I do not agree to share this information
        </a>
      </p>
          
 

      {% if data['devMode'] %}
      {% include "includes/devmode-enter-email.html" %}
      {% endif %}

    </div>
  </div>


{% endblock %}
