{% extends 'layout.html' %}

{% block pageTitle %}
Add or correct your contact details
{% endblock %}

{% block header %}
{{ header({
"service": {
"name": "NHS Reverification prototypes",
"href": "/"
},
"showNav": "false",
"showSearch": "false"
})
}}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">Prototype v1</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">Aligned to 'test' environment during exploratory testing 23th January 2023</p>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>Add or correct your contact details</h2>

      <ul class="nhsuk-list spaced">
        <div class="informative-tab-green"><strong>Design complete</strong></div>
        <li>
          <p>A citizen is notified (SMS or email) about either a missing or malformed (invalid) contact detail and directed to a service to rectify it. <br><br>They are linked to or find a standalone web service that that takes their details and matches them to their PDS record.<br><br> A verification check happens on their good contact detail. If successful, they can then change the bad contact detail.</p>

          <div class="nhsuk-grid-row">
            <ul class="nhsuk-list list-unstyled">
              <li> ➡️ User gets an email &nbsp;(<a href="/v1/notification-email-missing?contactMethod=email&reason=missingmobile">missing mobile</a>) | (<a href="/v1/notification-email?contactMethod=email&reason=malformedmobile">malformed mobile</a>)</li>
              <li> ➡️ User gets an SMS &nbsp;(<a href="/v1/notification-sms-missing?contactMethod=sms&reason=missingemail">missing email</a>) | (<a href="/v1/notification-sms?contactMethod=sms&reason=malformedemail">malformed email</a>)</li>
              <li class="nhsuk-u-padding-top-3"> ➡️ &nbsp;<a href="/v1/start">Service start page</a> | (<a href="/v1/start?devMode=true">run in devMode</a>)</li>
            </ul>
          </div>
        </li>
      </ul>

    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">

      {% include 'includes/links.html' %}

    </div>

  </div>
{% endblock %}

{% block footer %}
{{ footer({
"links": [
  {
    "URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
    "label": "Prototype kit version: " + version
  },
  {
    "URL": "?devMode=true",
    "label": "Turn on devMode"
  },
  {
    "URL": "/examples/passing-data/clear-data",
    "label": "Clear data"
  }
]
})}}
{% endblock %}