{% extends 'layout.html' %}

{% set contactmethod = "email" %}

{% block pageTitle %}
Email message
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/notify-email.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<style>


</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="nhsuk-heading-l nhsuk-u-margin-2">{{ pageTitle }}</h1>
    <p><strong>Subject: </strong>Your security code</p>

    <div class="app-text-message">
      <div class="nhsuk-header " role="banner" data-module="govuk-header">
        <div class="nhsuk-header__container nhsuk-width-container">
          <div class="govuk-header__logo">
            <a href="/public" class="govuk-header__link govuk-header__link--homepage">
              <span class="govuk-header__logotype">
                <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
                  <path fill="#005eb8" d="M0 0h40v16H0z"></path>
                  <path fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                  <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-4">Your security code</h2>

      <p class="app-text-message__text nhsuk-u-margin-top-2">

        Use this security code to verify your new email address.</p>

        <blockquote style="Margin: 0 0 20px 30px; border-left: 10px solid #BFC1C3;padding: 15px 0 0.1px 15px; font-size: 19px; line-height: 25px;"><p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
          {{ data['otp_code'] or '836454' }}</p></blockquote>

        <p class="app-text-message__text">You need to use this security code within 1 hour.</p>

    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
