{% extends 'layout.html' %}

{% set contactmethod = "sms" %}

{% block pageTitle %}
  Text message" %}
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/notify-text.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">Text message</h1>

    <div class="app-text-message">
      <h2 class="nhsuk-heading-s">NHS contact details:</h2>
      <p class="app-text-message__text">
        NHS contact details: {{ data['otp_code'] or '783200' }} is your security code.<br><br>
        You need to use this security code within 1 hour.</p>
    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
