{% extends 'layouts/layout-accounts-p5-4.html' %}
{% block pageTitle %}
The NHS App
{% endblock %}
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Home</h1>
      <dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['first-name'] or 'Sarah' }} {{ data['last-name'] or 'Jones' }}
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date of birth:
          </dt>
          <dd class="nhsuk-summary-list__value">
            {{ data['date-of-birth-day'] or '20' }} {{ data['date-of-birth-month'] or '05' }} {{ data['date-of-birth-year'] or '1988' }}
          </dd>
        </div>
      </dl>

      <h3>Popular services</h3>
      <ul class="app-boxes">
        <li class="app-box">
          <a href="#">
              <h3 class="app-box-title">Get your NHS Covid Pass</h3>
              <p class="app-box-description">
                View and share your Covid Pass for places in England that have chosen to use this service and for travel abroad
              </p>
          </a>
        </li>
        <li class="app-box">
          <a href="#" >
            <h3 class="app-box-title">View your messages</h3>
          </a>
        </li>
        <li class="app-box-blue">
          <h3 class="app-box-blue-title">Prove your identity to get full access</h3>
          <p class="app-box-blue-description">You'll need to prove who you are before you can get your Covid Pass for travel abroad, book appointments, order repeat prescriptions, and view your health records.</p>
          <button class="nhsuk-button nhsuk-button--reverse app-box-blue-button" type="submit">
            Continue
          </button>
        </li>
      </ul>
      <!--
      <div class=“instructions nhsuk-u-padding-4 nhsuk-u-margin-bottom-8”>
        <h3 class=“nhsuk-heading-l”>We're checking your information</h3>
        <p>This can take up to 2 hours.</p>
        <p>We'll email you to tell if your information passed our checks or not.</p>
        <p>At buys times, it may take longer.</p>
      </div>-->


      <!-- Styles for cards -->

      <style>
        .app-box {
          position: relative;
          background: white;
          padding: 22px 16px 22px 16px;
          font-size: 22px;
          border-top: 0.5px solid 	#d8dde0;
          border-bottom: 0.5px solid 		#d8dde0;
          margin: 4px 0px 4px 0px;
        }
        .app-box-small {
          position: relative;
          background: white;
          padding: 12px 16px 12px 16px;
          font-size: 24px;
          border-top: 0.5px solid lightgrey;
          border-bottom: 0.5px solid lightgrey;
          margin: 0px;
        }
        .app-box:not(.app-box--heading)::after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 1.2rem;
          margin: auto;
          border-color:		#4c6272;
          border-style: solid;
          border-width: 0.1em 0.1em 0 0;
          height: 0.55em;
          width: 0.55em;
          transform: rotate(45deg);
        }
        .app-box--heading {
          margin-bottom: 0;
          border-bottom: none;
        }
        .app-boxes {
          list-style: none;
          padding: 0;
          margin: 0px 0;
        }
        .app-boxes li {
          display: block;
          margin: 0px 0 20px;
        }
        .app-box > a {
          text-decoration: none;
        }
        .app-box-title {
          font-size: 22px;
          margin-bottom: 0;
        }
        .app-box-description {
          font-size: 20px;
          margin-bottom: 0;
          margin-top: 0.8rem;
          color: black;
          width: 90%;
        }
        .nhsuk-summary-list {
          line-height: 1;
        }

        .app-box-blue {
          position: relative;
          background: 	#005eb8;
          padding: 22px 16px 22px 16px;
          font-size: 26px;
          margin: 4px 0px 4px 0px;
        }

        .app-box-blue-title {
          font-size: 26px;
          color: white;
          margin-right: 16px;
          margin-bottom: 8px;
          margin-left: 16px;
        }

        .app-box-blue-description {
          font-size: 20px;
          margin-bottom: 0;
          padding-top: 8px;
          margin-right: 16px;
          margin-bottom: 8px;
          margin-left: 16px;
          color: white;
        }

        .app-box-blue-button{
          margin-top: 8px;
          margin-right: 16px;
          margin-left: 16px;
        }

      </style>
    </div>
  </div>



{% endblock %}
