<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/blank.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="page-section email-width">

        <div class="nhsuk-width-container">
          <main class="nhsuk-main-wrapper email-content" id="maincontent" role="main">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <p></p>
      <p>NHS contact details: We need you to add an email address to your NHS record.</p>
      <p>This is so we can send reminders and updates to you by email.</p>
      <p>To add your email address using our dedicated web service, go to <a href="index">LINK</a>.</p>
      <p>To add your mobile number using our dedicated web service:</p>

    </div>
  </div>


          </main>
        </div>


    </div>

{% endblock %}
