.nhsuk-card--care--lydia {
  @include care-card($color_nhsuk-blue, $color_nhsuk-white, 8px);

  .nhsuk-card--care__arrow {
    &:before,
    &:after {
      border-color: $color_nhsuk-red;
    }
  }

  .nhsuk-card__content {
    background-color: $color_nhsuk-black;
    border: 0;
    color: $color_nhsuk-white;
    position: static; /* [15] */

    a {
      color: $color_nhsuk-white; /* [16] */

      &:focus {
        color: $color_nhsuk-black; /* [16] */
      }

    }

  }

  .nhsuk-details,
  .nhsuk-details__summary {
    color: $color_nhsuk-white;
  }

  .nhsuk-details__summary {
    &:hover {
      color: $color_nhsuk-white;
    }
    &:focus {
      color: $color_nhsuk-black;
    }
  }

  .nhsuk-action-link__link {
    .nhsuk-icon__arrow-right-circle {
      fill: $color_nhsuk-white; /* [14] */
    }
  }

}