<div class="nhsuk-width-container">

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-phase-banner">
        <p class="nhsuk-phase-banner__content">
          <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">alpha</strong>

          <span class="nhsuk-phase-banner__text">
              This is a new service – your <a class="govuk-link" href="feedback-page" target="_blank">feedback (opens in a new tab)</a> will help us to improve it.
          </span>
        </p>
      </div>

    </div>

  </div>

</div>