{% extends 'layout.html' %}

{% block pageTitle %}
Add or correct your contact details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>NHS Reverification prototypes</h1>

      <p class="nhsuk-lede-text">
        Research prototypes for the 'Update your contact details' service.
      </p>

      <hr>

      <h2>Currently in research and development</h2>

      <div class="nhsuk-main-wrapper " id="maincontent" role="main">

        <div class="bulleted-summary-list">
          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                V1: January 2023
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab-green"><strong>A user is invited to correct their contact details</strong></div>
              <li>
                <p>User is messaged either by SMS or email and directed to a service start page and then proceeds into a standalone web service that matches them to their PDS record and does a verification check on their good contact detail. If successful, they can change the bad contact detail.</p>

                <div class="nhsuk-grid-row">
                  <ul class="nhsuk-list list-unstyled">
                    <li> ➡️ User gets an email &nbsp;(<a href="/v1/notification-email?contactMethod=email&reason=missingmobile">missing mobile</a>) | (<a href="/v1/notification-email?contactMethod=email&reason=malformedmobile">malformed mobile</a>)</li>
                    <li> ➡️ User gets an SMS &nbsp;(<a href="/v1/notification-sms?contactMethod=sms&reason=missingemail">missing email</a>) | (<a href="/v1/notification-sms?contactMethod=sms&reason=malformedemail">malformed email</a>)</li>
                    <li class="nhsuk-u-padding-top-3"> ➡️ &nbsp;<a href="/v1/start">Service start page</a> | (<a href="/v1/start?devMode=true">run in devMode</a>)</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">

      <h3 class="nhsuk-heading-m">Links</h3>

      <ul>
        <li><a href="https://github.com/NHSDigital/prototype-nhs-reverification" target="_blank">Go to the Github repository</a></li>
        <li><a href="https://github.com/NHSDigital/prototype-nhs-reverification" target="_blank">View the journey map on Mural </a></li>
      </ul>

    </div>

  </div>
{% endblock %}
