{% extends 'layout.html' %}

{% block pageTitle %}
Add or correct your contact details
{% endblock %}

{% block header %}
{{ header({
"service": {
"name": "",
"href": "/"
},
"showNav": "false",
"showSearch": "false"
})
}}

<section class="nhsuk-hero">

  <div class="nhsuk-width-container nhsuk-hero--border">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-3">NHS Reverification prototypes</h1>
        </div>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h2>Currently in research and development</h2>

      <div class="nhsuk-main-wrapper " id="maincontent" role="main">

        <div class="bulleted-summary-list">

          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v7: Expanded scope with NHS login itegration
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-"><strong>In design</strong></div>
              <li>
                <p>Prototype v7: WIP</p>

                <a href="/v7/" class="nhsuk-button nhsuk-u-margin-bottom-3">Goto v7 prototype</a>
              </li>
            </ul>
          </div>


          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v6: Research prototype of an expanded scope service
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-blue"><strong>CURRENT - PRIVATE BETA</strong></div>
              <li>
                <p>Prototype v6 went into research on the 30 - 31 May 2023.<br>It is currently aligned to the Pivate Beta phase service.</p>

                <a href="/v6/" class="nhsuk-button nhsuk-u-margin-bottom-3">Goto v6 prototype</a>
              </li>
            </ul>
          </div>


          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v5: Continuous improvements
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-grey"><strong>Previous - Alpha</strong></div>
              <li>
                <p>Prototype v5 was aligned to the Alpha phase service.</p>

                <a href="/v5/" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v5 prototype</a>
              </li>
            </ul>
          </div>

          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v4: Research prototype - NHS login
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-grey"><strong>Research complete</strong></div>
              <li>
                <p>Prototype v4 went into research on the 14 - 16 March 2023.</p>

                <a href="/v4/" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v4 prototype</a>
              </li>
            </ul>
          </div>


          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v3: Research prototype
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-grey"><strong>Research complete</strong></div>
              <li>
                <p>Prototype v3 went into research on the 21 - 23 February 2023.</p>

                <a href="/v3/" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v3 prototype</a>
              </li>
            </ul>
          </div>


          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v2: Aligned to Release 1
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-grey"><strong>Design complete</strong></div>
              <li>
                <p>Prototype v2 was aligned with technical release 1 of the 'Add or correct your contact details' service.</p>

                <a href="/v2/" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v2 prototype</a>
              </li>
            </ul>
          </div>

          <div class="relative">

            <div class="inline-heading-link">
              <h3 class="nhsuk-heading-m">
                Prototype v1
              </h3>
            </div>

            <ul class="nhsuk-list spaced">
              <div class="informative-tab informative-tab-grey"><strong>Design complete</strong></div>
              <li>
                <p>Prototype v1 was aligned to the 'test' environment and went through guided and exploratory testing on 23 Jan 2023.</p>

                <a href="/v1/" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-3">Goto v1 prototype</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-grid-column-one-third nhsuk-u-margin-bottom-4">

      <h3 class="nhsuk-heading-m">Links</h3>

      <ul>
        <li><a href="https://github.com/NHSDigital/prototype-nhs-reverification" target="_blank">Go to the Github repository</a></li>
        <li><a href="https://app.mural.co/invitation/mural/nhsdigital8118/1674053701439?sender=u019d5d941f51fc1db6df7154&key=16c6c253-8a8b-49a2-a8cf-5d44851613c8" target="_blank">View the journey map on Mural</a></li>
      </ul>

    </div>

  </div>
{% endblock %}

{% block footer %}
{{ footer({
"links": [
  {
    "URL": "https://github.com/nhsuk/nhsuk-prototype-kit/releases",
    "label": "Prototype kit version: " + version
  },
  {
    "URL": "?devMode=true",
    "label": "Turn on devMode"
  },
  {
    "URL": "/examples/passing-data/clear-data",
    "label": "Clear data"
  }
]
})}}
{% endblock %}