<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - edit the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Check your email address
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="choose-your-mobile" method="post" class="form">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
              Confirm your email address
            </h1>
          </legend>
          {% if data.resendCode === 'true' %}
          <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>You have been sent a new security code.</p>
          </div>
          {% endif %}
          <p class="nhsuk-body">
            Enter the 6 digit code we have sent to <a style="color:#212B32; text-decoration: none;" href="/v1/emails/email-confirmation-security-code"
            target="_blank"><strong>{{ data['userEmail'] or 'email@email.com' }}</strong></a> to confirm this is your email address.
          </p>
          
          <p class="nhsuk-body">
            You need to use this code within <strong>1 hour</strong> or it will expire.
          </p>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Not received your security code?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>If you did not get a security code, you can:</p>
              <p class="nhsuk-body">
                <ul>
                  <li>
                    try checking your spam or junk folder
                  </li>
                  <li>
                    <a href="check-your-email-address?resendCode=true">request a new security code</a>
                  </li>
                  <li>
                    <a href="/v3/P0/enter-your-email-address">try again by entering your email address</a>
                  </li>
                </ul>
              </p>
            </div>
          </details>
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="securityCode">
              Security code
            </label>
            <div class="nhsuk-hint" id="securityCodeHint">
              The code is 6 numbers
            </div>
            <input class="nhsuk-input nhsuk-input--width-10" id="securityCode" name="securityCode" type="text" aria-describedby="securityCodeHint" inputmode="numeric" maxlength="6">
          </div>
          <button class="nhsuk-button full-width" type="submit" id="button--save">
            Continue
          </button>
        </fieldset>
      </form>
      {% if data['devMode'] %}
      {% include "includes/devmode-enter-email.html" %}
      {% endif %}
    </div>
  </div>
{% endblock %}