{% set serviceHome = '/v7/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  You have asked for a security code too many times
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">You have asked for a security code too many times</h1>

        <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

          <p>You must wait 1 hour before trying again.</p>

          {% include "../includes/other-channels.html" %}

        </div>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}

