{% set serviceHome = '/v7/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  We cannot find your details
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <form action="pds-not-found-next" method="post" class="form">

          <h1 class="nhsuk-heading-l">
            We have not been able to match the details you have provided to an NHS record
          </h1>


          {{ radios({
          "idPrefix": "pdserrornext",
          "name": "pdserrornext",
          "fieldset": {
            "legend": {
              "text": "What do you want to do?",
              "classes": "nhsuk-fieldset__legend--m",
              "isPageHeading": "false"
            }
          },
          "items": [
            {
              "value": "trydifferentnhsno",
              "text": "Try again with NHS number"
            },
            {
              "value": "searchpdswithname",
              "text": "Try using full name"
            }
          ]
        }) }}

          {{ button({
          "text": "Continue"
        }) }}

    </form>

    {% include "../includes/other-channels.html" %}

  </div>

</div>
{% endblock %}

{% block footer %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}