{% set serviceHome = '/v7/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
  You must be aged 16 or over to use this service
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row nhsuk-list">

    <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

      <h1 class="nhsuk-heading-l">You must be aged 16 or over to use this service</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <h2 class="nhsuk-heading-m">Other ways to update your details</h2>

        <p>You can also update your contact details through your GP surgery.</p>

        <p>If you're not registered with a GP surgery or you have moved outside the catchment area of your current surgery, <a href="https://www.nhs.uk/nhs-services/gps/how-to-register-with-a-gp-surgery/">find out how to register with a GP surgery</a>.</p>


      </div>

    </div>

  </div>
{% endblock %}

{% block footer %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}