{% set serviceHome = '/v7/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
Thank you for your feedback
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div aria-live="polite" class="nhsuk-u-reading-width">

      <div class="nhsuk-card">
        <div class="nhsuk-card__content"><h2 class="nhsuk-card__heading">Thank you for your feedback</h2>
          <p class="nhsuk-card__description">Your feedback was successfully submitted to the Add or correct your contact
            details service. This will help us to improve our service.</p>
        </div>
      </div>

      <p>Close this tab to go back to updating your details.</p></div>

    </div>

  </div>

</div>
{% endblock %}

{% block footer %}
  {% set hideFeedback = 'true' %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}