{% set serviceHome = '/v7/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
How to change other personal details
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-u-reading-width">

      <h1 class="nhsuk-heading-l">How to change other personal details</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <p class="nhsuk-card__description">
          To change other personal details such as your postal address or landline number you need to contact your GP surgery.
        </p>

        <p>If you are not registered with a GP or you have moved outside the catchment area of your current surgery, you can find one using our our <a href="https://www.nhs.uk/service-search/find-a-gp">Find a GP</a> service.</p>

      </div>

    </div>

  </div>

</div>

{% endblock %}

{% block footer %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}
