{% set serviceHome = '/v7/start' %}
{% set servicePhase = 'beta' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
You can only use this service to update the mobile number or email address on your NHS record
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-u-reading-width">

      <h1 class="nhsuk-heading-l">You can only use this service to update the mobile number or email address on your NHS record</h1>

      <div class="nhsuk-u-margin-top-1 nhsuk-u-margin-bottom-5">

        <h2 class="nhsuk-heading-m">How to change your postal address</h2>

        <p class="nhsuk-card__description">
          If you want to change your postal address you must contact your GP surgery.
        </p>

        <p>If you are not registered with a GP you can find one using our our <a href="https://www.nhs.uk/service-search/find-a-gp">Find a GP</a> service.</p>

      </div>

    </div>

  </div>

</div>

{% endblock %}

{% block footer %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}
