{% set serviceHome = '/v7/start' %}
{% set feedbackType = 'step' %}
{% extends 'layout.html' %}

{% block pageTitle %}
You can only use this service to update the mobile number or email address on your NHS record
{% endblock %}

{% block outerContent %}
  {{ backLink({
    "href": "triage-address",
    "text": "Go back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">

  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    <div class="nhsuk-u-reading-width">

      <h1 class="nhsuk-heading-l">How to change your postal address</h1>

      <p class="nhsuk-card__description">
        If you want to change your postal address you must contact your GP surgery.
      </p>

      {% include "../includes/other-channels.html" %}

    </div>

  </div>

</div>

{% endblock %}

{% block footer %}
  {% include 'v7/includes/footer.html' %}
{% endblock %}
